.platform {
  height: 170vh;
  width: 420px;
  background-color: rgba(218, 239, 255, 1);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 30px 4px;
  position: absolute;
  right: -50px;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  transition: 1.5s;
}
.plateform-translate {
  transform: translateY(25rem);
  transition: 1s;
}

.plateform-text {
  position: absolute;
  right: 7rem;
  text-align: center;
  transition: 0.7s;
  color: black;
  transform: rotate(270deg);
}
