.slider-shadow{
  width: 50vh;
  height: 80px;
  right: 8rem;
  top: 50vh;
  border-radius: 100px;
  transform: rotate(285deg);
  position: absolute;
  /* background-color: rgba(0, 0, 0, 0.2); */
  background-color: color-mix(in srgb, rgb(230, 203, 255) 50%, rgba(0, 0, 0, 0.2));
  transform-origin: bottom center;
  filter: blur(20px);
  //transition: 1.5s;
  display: none;
}
.slider-shadow-v2 {
  width: 50vh;
  height: 150px; 
  right: -10rem;
  bottom: 22rem;
  border-radius: 100px;
  transform: rotate(285deg);
  position: absolute;
  background-color: color-mix(in srgb, rgb(230, 203, 255) 50%, rgba(0, 0, 0, 0.2));
  transform-origin: bottom center;
  filter: blur(20px);
  //transition: 1.5s;
}