@import 'base/normalize';
@import 'utils/variables';
@import 'base/typography';
@import 'base/include-media';

@import 'utils/functions';
@import 'utils/mixins';
@import 'base/content';

@import 'components/buttons';
@import 'components/container';

@import 'vendors/swiper';

@import 'layouts/navigation';
@import 'layouts/header';
@import 'layouts/footer';
@import 'pages/home';

//@import 'layouts/forms';
//@import 'pages/whiteboard';

body {
    background-color: $background_color_main;
    max-width: 100vw;
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
}


h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}
