$breakpoints: (
        'extra-small': 480px,
        'small': 768px,
        'medium': 992px,
        'large': 1200px,
        'extra-large': 1440px
);

//Couleurs
$color_primary:#fcb435;

$color_black:#001830;
$color_white:#dce7f9;
$color_white_toogled : #dce7f950; 

$background_color_main: #001830;
$box_colors: rgba(136, 136, 136, 0.2);
$canvas_color: #000;

$color_font: #dce7f9; 

$ff_1: Helvetica Neue, system-ui,sans-serif; //Title
$ff_2: "HelveticaNeue-Light", sans-serif; //Content

$flex-margins: 70px 0;

$duration: .25s;
$duration_quick: .15s;
$bezier: cubic-bezier(0.45, 0, 0.55, 1);