@import 'slideshow/_shadows';
@import 'slideshow/_platform';
@import 'slideshow/_transitionImg';

html, body {
  height: 100vh!important;
  width: 100vw!important;
  overflow: hidden!important;
}

.slideshow-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 1s;
}
.slideshow-container img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  transition: 1s;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide a {
  display: block;
  max-width: 100%;
  width: fit-content;
  height: 100%;
}
.swiper-slide img {
  display: block;
  width: 420px;
  height: auto;
  margin-top: calc(50% - 210px);
}

.slideshow-img {
  border-radius: 1rem;
}