@import 'block/tools';
@import 'block/stickers';

.whiteboard {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;  
  .canvas-wrapper {
    position: relative;
    display: flex;
  }
}

