@import '../style.scss';
@import 'block/tools';
@import 'block/stickers';

.whiteboard {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 2vw solid $color_primary;
  transition: all 0.3s ease-in-out;
  
  .canvas-wrapper {
    display: flex;

    .stickers-container{
      width: 64px;
      height: 100%;
    }

    .stickers{
      width: 100%;
    }
    .canvas {
      background-color: $background_color_main;

      border-bottom-left-radius: 50% 5%;
      border-bottom-right-radius: 50% 5%;
    }
  }
}

.bg-primary{
  background-color: $color_primary;
}


