.stickers {
    position: relative;
    overflow: visible;
    right: 0;
    margin: auto;
    width: 64px;
    height: 90vh;
    transition: transform 100ms;
    &.false {
        display: none;
    }
    &.true {
        display: block;
    }
}
