.whiteboard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.tools {
  padding:16px 8px;
  background-color: rgb(209, 209, 209);
  display: grid;
  grid-auto-flow: row;
  height: fit-content;
  gap: 10px;
  justify-items: center;
  .box:not(:last-child){
    margin-bottom: 8px;
  }
}

canvas {
  border: 1px solid #fff;
}

.box {
  // display: inline-block;
  width: 25px;
  height: 25px;
  cursor: pointer;
  border-radius: 50%;
  border: unset;
}

.size-boxes-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-radius: 8px;
  background-color: grey;
}