@import '../../utils/variables';

.tools {
  padding: 16px 8px;
  margin-right: 1rem;
  // display: grid;
  // grid-auto-flow: row;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100%;
  gap: 8px;
  justify-items: center;
  
  .box {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: unset;
  }
  .box:not(:last-child) {
    margin-bottom: 8px;
  }

  .size-boxes-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-radius: 8px;
    background-color: grey;
  }

  .brush-size-container {
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .slide-range-container{
    transform: rotate(-90deg);
    margin-top: 54px;
    margin-bottom: 54px;
  }

  .brush-preview {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
  }

  .clear {
    width: 32px;
    height: auto;
  }


  label {
    cursor: pointer;
    width: 68px;
    height: 35px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 5px;
      left: 5px;
      width: 24px;
      height: 24px;
      background: #fff;
      border-radius: 90px;
      transition: 0.3s;
    }
  }

  input {
    &[type=checkbox] {
      height: 0;
      width: 0;
      visibility: hidden;
    }
    &:checked + label {
      background: #6bda55;

      &:after {
        left: calc(100% - 5px);
        transform: translateX(-100%);
      }

      &:active:after {
        width: 58px;
      }
    }
  }
}





// centering
// body {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 100vh;
// }